{% load static %}

<title>FastSQA - Consulting</title>
<script src="{% static 'wt/js/jquery-3.1.1.min.js' %}"></script>
<script>
    $(function () {
        $("#google-analytics-counter").load("{% static 'wt/counter/google-analytics.txt' %}");
    });
</script>
<script>
    $(function () {
        $("#yandex-counter").load("{% static 'wt/counter/yandex-counter.txt' %}");
    });
</script>
<link rel="shortcut icon" href="{% static 'wt/img/favicon.ico' %}" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="test automation, software development process consulting"/>
<meta name="keywords" content="qa, test automation, software, continious integration, outsorcing, outstaffing"/>
<meta name="robots" content="index,nofollow"/>

<center>This site is under construction. <br>

FastSQA company offers software test automation consulting. <br>
    We provide companies with:<br>
    <ul>
    <li><b>CI</b>(continious integration), <br></li>
    <li><b>Test automation</b>(web ui, web services, desktop applications). <br></li>
     </ul>

Have a good day!<br>
For contacts use<br>
    email: <b>contact@fastsqa.com</b><br>
    skype: <b>fastsqa</b>
    <div id="google-analytics-counter"></div>
    <div id="yandex-counter"></div></center>